$defaultColor: #4DCDC4;
$defaultColor_hover: #2BABA0;
$baseColor: #F693BC;
$accentColor: #FEE474;
$accentColor_hover: #F5D536;
$neutralColor: #FFF7EF;
$backgroundColor: #F2F2F5;
$darkColor: #292F36;
$lightColor: #FFFFFF;